<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Math Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
 
  
    <div class="question-card" *ngIf="!showResult">
      <h4>question {{current}} of {{5}}</h4>
      <h2>{{ questions[current]?.question}}</h2>
      <ion-input placeholder="answer here" (keyup.enter)="nextQuestion()" [(ngModel)]="answer"></ion-input>
    </div>
  
  <div class="result-container" *ngIf="showResult">
    <h1> results</h1>
    <p>you scored {{score}} out of {{5}}</p>
    <ion-button [routerLink]="['/home']">Home</ion-button>
  </div>
</ion-content>
